# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI/CD
on:
  push:
    branches: [ "main" ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to AWS EC2
      uses: appleboy/ssh-action@v1.2.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: |
          cd /home/${{ secrets.EC2_USERNAME }}/StudioForRent_FA25SE219_BE || { echo "Dir not found"; exit 1; }
          git reset --hard HEAD && git clean -fd || { echo "Git reset failed"; exit 1; }
          git pull origin main || { echo "Git pull failed"; exit 1; }
          npm ci --production --frozen-lockfile || { echo "NPM install failed"; exit 1; }
          echo "${{ secrets.SPLUS_STUDIO_ENV_FILE }}" > .env
          pm2 reload ecosystem.config.cjs || pm2 start ecosystem.config.cjs || { echo "PM2 failed"; exit 1; }
          echo "Deploy complete at $(date)"
